body{
	background-image: url('libs.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.header{
	position: absolute;
	text-align: center;
	height: 10%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: -1;
	background-color:rgb(50,50,50);
	color: white;
	text-shadow: 2px 2px 15px white;
}

.sidenav{
	display: none;
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:rgb(50,50,50);;
	overflow-x: hidden;
	padding-top: 40px;

}
span{
	color: #d6d6c2;
}
.sidenav a{

	padding-top:  40px;
	padding-left: 60px;
	padding-bottom: 1px;
	padding-right: 1px;
	text-decoration: none;
	font-size: 20px;
	color: black;
	display: block;
}
.sidenav a:hover{
	color: white;
	
}
.sidenav .closebtn{
	position: absolute;
	color: black;
	top: 0;
	font-size: 40px;
	padding-left: 230px;
	background-color: balck;
}

p{
	margin: 0 10px 10px;
}
.error{
	color: #ff0000;
	text-align: center;
	font-size: 30px;
	margin-left: 90px;
	width: 100%;
}
.er{
	color: #ff0000;
	text-align: center;
	font-size: 30px;
	margin-left: 420px;
	margin-top: 380px;
	width: 100%;
}
.success{
	color: #00cc00;
	text-align: center;
	font-size: 30px;
	margin-left: 90px;
	width: 100%;
}
#center{
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
#cen{
	top: 70%;
	left: 50%;
	transform: translate(-50%,-50%);
	position: absolute;
}
.card{
	background-color: rgb(50,50,50);
	padding: 60px 40px 50px 40px;
	border-radius: 10px;
}
#name{
	width: 200px;
	border:none;
	outline: none;
	background:transparent;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	margin-top: -8px;
	padding: 5px;
	color: white;
}
#sel{
	width: 200px;
	border:none;
	outline: none;
	background:transparent;
	border-bottom: 1px solid white;
	margin-bottom: 20px;
	padding: 6px;
	color: white;
}
option{
	background-color: rgb(50,50,50);
}
img{
	position: absolute;
	margin-left: 100px;
	margin-top: -40px;
}
.rec li{
	margin-left: 400px;
	margin-top: 15px;
	font-size: 30px;
	text-decoration: none;
	width: 100%;
}
.footer{
	text-align: center;
	width: 100%;
	left: 0;
	bottom:0;
	font-size: 20px;
	margin-top: 530px;
	background-color: rgb(50,50,50);;
	position: absolute;
	animation: copy 2s infinite;
}
@keyframes copy{
	0%{
		color: #cc3399;
	}
	25%{
		color: #ff1a1a;
	}
	50%{
		color: #ffff00;
	}
	75%{
		color: #00ff00;
	}
	100%{
		color: #00ffff;
	}
}
.footer p{
	
	padding: 5px 10px;
}
#heading{
	text-align: center;
	font-size: 35px;
}
.tab{
	text-align: left;
	height: auto;
	width: 300px;
	margin-left: 100px;
}
